<div ng-include="'components/navbar/navbar.html'"></div>

<navbar></navbar>
<a class="btn btn-primary" href="/#/create/transaction"><span class="glyphicon glyphicon-plus"></span> Create Transaction</a>
<br/>
<table class="table table-striped">
  <thead>
  <th>Account</th>
  <th>Type</th>
  <th>Pay</th>
  <th>Due Date</th>
  <th>Paid</th>
  <th>Posted</th>
  <th>Tags</th>
  <th>Operations</th>
  </thead>
  <tbody>
  <tr ng-repeat="transaction in vm.transactions">
    <td><a ng-href="/#/transaction/{{ transaction._id }}" editable-text="transaction.account" onaftersave="vm.saveTransaction(transaction)">{{transaction.account}}</a></td>
    <td><span editable-text="transaction.type" onaftersave="vm.saveTransaction(transaction)">{{transaction.type}}</span></td>
    <td><span editable-text="transaction.pay" onaftersave="vm.saveTransaction(transaction)">{{transaction.pay | currency}}</span></td>
    <!--<td>{{transaction.dueDate | date:'M/d/yyyy'}}</td>-->
    <td><a href="#" editable-date="transaction.dueDate" onaftersave="vm.saveTransaction(transaction)" e-datepicker-popup="dd-MMMM-yyyy">{{(transaction.dueDate | date: 'M/dd/yy')  || 'empty'}}</a></td>
    <td><input type="checkbox" ng-model="transaction.isPaid" ng-change="vm.saveTransaction(transaction)" /></td>
    <td><input type="checkbox" ng-model="transaction.isPosted" ng-change="vm.saveTransaction(transaction)" /></td>
    <td>
      <div class="tag-input-ctn">
        <div ng-repeat="(key, tag) in transaction.tags" class="input-tag">
          {{ tag.name }}
          <div class="delete-tag" ng-click="vm.deleteTag(key)">&times;</div>
        </div>
        <input id="tags" class="form-control" type="text" data-tag-input="" ng-model="vm.tagText" ng-style="{width: inputWidth}" new-tag="vm.addTag()" delete-tag="vm.deleteTag()">
      </div>
    </td>
    <!--<td><a ng-href="/#/transaction/{{ transaction._id }}">{{ transaction.title }}</a></td>-->
    <!--<td>{{ transaction.url }}</td>-->
    <td>
      <div class="button-group">
        <a ng-href="/#/transaction/{{ transaction._id }}/edit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
        <a ng-href="/#/transaction/{{ transaction._id }}/delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
