<ng-include src="'app/transaction/transaction-nav.html'"></ng-include>

<form role="form">
  <div class="form-group">
    <label for="repeatSelect" class="control-label">Period</label>
    <input-dropdown selected-item="vm.period" default-dropdown-items="vm.periods" item-selected-method="vm.getTransactions(item)"
                    input-required="true" filter-list-method="vm.filterObjectList(userInput)" aria-autocomplete="list"
                    ng-focus="count = count + 1" ></input-dropdown>
    <h1>{{count}}</h1>
  </div>
  <div class="form-group">
    <label for="account" class="control-label">Account</label>
    <input type="text" ng-model="vm.transaction.account" class="form-control" id="account" placeholder="Enter the account name"/>
  </div>
  <div class="form-group">
    <label for="category" class="control-label">Category</label>
    <input type="text" ng-model="vm.transaction.category" class="form-control" id="category" placeholder="Enter the account category"/>
  </div>
  <div class="form-group">
    <label for="amount" class="control-label">Amount</label>
    <input category="text" ng-model="vm.transaction.amount" class="form-control" id="amount" placeholder="Enter the payment amount"/>
  </div>
  <div class="form-group">
    <label for="dueDate" class="control-label">Due Date</label>
    <input type="date" ng-model="vm.transaction.dueDate" format-date  class="form-control" id="dueDate" style="width: auto;"/>
  </div>
  <div class="form-group">
    <label for="isPaid" class="control-label">Is Paid ?</label>
    <input type="checkbox" ng-model="vm.transaction.isPaid" class="form-control" id="isPaid" placeholder="Enter whether it is paid"  style="width: auto;"/>
  </div>
  <div class="form-group">
    <label for="isPaid" class="control-label">Is Posted ?</label>
    <input type="checkbox" ng-model="vm.transaction.isPosted" class="form-control" id="isPosted" placeholder="Enter whether it is posted"  style="width: auto;"/>
  </div>
  <div class="form-group">
    <label for="tags" class="control-label">Tags</label><br>
    <div class="tag-input-ctn">
      <div ng-repeat="(key, tag) in vm.transaction.tags" class="input-tag">
        {{ tag.name }}
        <div class="delete-tag" ng-click="vm.deleteTag(key)">&times;</div>
      </div>
      <input id="tags" class="form-control" type="text" data-tag-input="" ng-model="vm.tagText" ng-style="{width: inputWidth}" new-tag="vm.addTag()" delete-tag="vm.deleteTag()">
    </div>
  </div>
  <input type="submit" class="btn btn-primary" ng-click="vm.saveTransaction()" value="Save"/>
</form>
<br/>
<a ng-href="/#/transactions"  class="btn btn-danger">Cancel</a>
